<main>
  <div class="container">
    <div class="container__element settings">
      <div class="flex-column">
        <h1 class="settings__title title-h4">Настройки</h1>
        <div class="settings__input-box">
          <p class="settings__input-title overline-2">Название баннера</p>
          <input type="text" class="settings__input subtitle-1" value="Banner1">
        </div>
        <div class="settings__date date">
          <div class="date-box">
            <div class="settings__input-box">
              <p class="settings__input-title overline-2">Дата</p>
              <app-datepicker (onChange)="updateMinDate($event)" [maxValue]="maxDate"></app-datepicker>
            </div>
            <div class="settings__input-box">
              <p class="settings__input-title overline-2">Дата</p>
              <app-datepicker (onChange)="updateMaxDate($event)" [minValue]="minDate"></app-datepicker>
            </div>
            <app-checkbox title="Бесконечная акция"></app-checkbox>
          </div>
          <div class="date-box">
            <div class="settings__input-box">
              <p class="settings__input-title overline-2">Время</p>
              <app-select [options]="times" value="10:00" type="time"></app-select>
            </div>
            <div class="settings__input-box">
              <p class="settings__input-title overline-2">Время</p>
              <app-select [options]="times" value="21:00" type="time"></app-select>
            </div>
            <app-checkbox title="Все время"></app-checkbox>
          </div>
          <div class="settings__input-box days">
            <p class="settings__input-title overline-2">Дни</p>
            <ul>
              <app-checkbox *ngFor="let day of days" [title]="day" [checked]="true"></app-checkbox>
            </ul>
          </div>
        </div>
      </div>
      <div class="settings__input-box city">
        <p class="settings__input-title overline-2">
          Выберите город <img src="../../../assets/images/question.svg">
        </p>
        <app-select [options]="cities" placeholder="Выберите город"></app-select>
      </div>
    </div>
    <div class="container__element summary">
      <div class="circle active"></div>
      <p class="text">Настройки баннера</p>
      <div class="circle"></div>
      <p class="text">Контент</p>
    </div>
    <button class="container__btn" (click)="submit()">Продолжить</button>
  </div>
</main>