$background-900: #001927;
$background-800: #002233;
$background-700: #002A40;
$background-500: #00364B;
$primary-900: #001C2B;
$primary-800: #003654;
$primary-700: #1E6BB8;
$primary-500: #0085CF;
$primary-300: #65B5E2;
$primary-200: #CAE6F5;
$primary-100: #FCFEFF;
$secondary-500: #406C8C;
$secondary-300: #739FBE;
$text-500: #AFBDC7;
$text-400: #DAEBF8;
$text-100: #FFFFFF;